[pDraggable] {
  cursor: move;
}

.li {
  list-style: none;
  font-size: 20px;
  cursor: pointer;
}
:host ::ng-deep {
  .p-card.p-component {
    border: 1px solid black;
    //  margin: 2rem 0 0 0;
    height: 100%;
  }
}
.title {
  text-transform: capitalize;
  
}
// ::ng-deep .p-card .p-card-title{
//     background-color: blue !important;
// }

::ng-deep .p-fieldset {
    margin: 1rem 0 0 0;
    padding: 0 0 0 0;
    background-color: rgb(80, 185, 186);
    border-radius: 10px;
}
