<p-fieldset #pnl legend="Task-Board">
    <div class="grid" *ngIf="!loading">
        <div class="col-4 drag-column" *ngFor="let task  of tasks | keyvalue" [ngClass]="'cards'"
            pDroppable="products" (onDrop)="drop(task.key)" >

            <span [ngClass]="'title'">{{task.key}}</span>
            <p-card>
                <span *ngFor="let item of $any(task).value ;let i='index'" [ngClass]="'li'">
                    <div>
                        <li class="product-item list" pDraggable="products" dragEffect="linkMove" (onDragStart)="dragStart(item)">
                            {{i+1}}. {{item.task}}
                        </li>
                    </div>
                </span>
            </p-card>
        </div>
    </div>
</p-fieldset>
<p-blockUI  [blocked]="bloacker">
    <i class="pi pi-clock" style="font-size: 3rem">...</i>
</p-blockUI>